:root {
    --sidebarWidth: 4rem;
    --transitionDuration: 0.5s;
    --borderRadius: 10px;
    --highlightPosition: ellipse at top right;
    --highlightColor: rgba(255, 255, 255, 25%);
    --shadowColor: rgba(0, 0, 0, 50%);
    --glassHighlightGradient: radial-gradient(var(--highlightPosition), var(--highlightColor), transparent);
    --pulseGradient: none;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

body {
    background-color: hsl(0deg, 0%, 16%);
    overflow-x: hidden;
}

main {
    position: relative;
    margin-left: calc(var(--sidebarWidth) + 1rem);
}

header {
    height: 3.2rem;
    background-color: hsl(0deg, 0%, 8%);
    color: white;
    text-align: center;
}

#sidebar {
    background-color: hsl(0deg, 0%, 8%);
    position: fixed;
    left: 0;
    top: 0;
    width: var(--sidebarWidth);
    height: 100%;
    color: white;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    z-index: 8;
}

#sidebar::before {
    content: '';
    position: absolute;
    right: calc(var(--borderRadius) * -1);
    top: 3.2rem;
    width: var(--borderRadius);
    height: var(--borderRadius);
    border-radius: 0 0 0 0;
    background-color: hsl(0deg, 0%, 8%);
}

#sidebar::after {
    content: '';
    position: absolute;
    right: calc(var(--borderRadius) * -1);
    top: 3.2rem;
    width: var(--borderRadius);
    height: var(--borderRadius);
    border-radius: var(--borderRadius) 0 0 0;
    background-color: hsl(0deg, 0%, 16%);
}

.carousel {
    overflow: hidden;
    position: absolute;
    left: 6rem;
    display: flex;
    flex-direction: row;
    margin-top: 0.75rem;
    gap: 0.75rem;
    scroll-snap-type: x mandatory;
    transition: left var(--transitionDuration);
}

.carousel::after {
    content: 'Home';
    position: fixed;
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
    left: calc(var(--sidebarWidth) + 6rem + 1rem + 2.2rem);
    top: calc(3.2rem + 0.75rem + 1.2rem);
    text-shadow: 0 0 0.2em var(--shadowColor);
}

.carousel>article {
    scroll-snap-align: start;
    position: relative;
    height: 480px;
    width: 320px;
    background-position: center !important;
    border-radius: var(--borderRadius);
    transition: width var(--transitionDuration);
}

.title {
    position: absolute;
    max-width: 20ch;
    left: 2.2rem;
    bottom: 12rem;
    font-size: 1.4rem;
    color: white;
    font-weight: 600;
    z-index: 1;
    text-shadow: 0 0 0.2em var(--shadowColor);
    transition: bottom var(--transitionDuration), font-size var(--transitionDuration);
}

.description {
    max-width: 40ch;
    color: hsl(0, 0%, 75%);
    position: absolute;
    left: 2.2rem;
    top: 15.4rem;
    text-shadow: 1px 1px 0em var(--shadowColor),
        0 0 0.2em var(--shadowColor);
    font-weight: 600;
}

.title,
.description {
    text-wrap: balance;
}

.carousel>article>button::before {
    content: '>';
    position: absolute;
    line-height: 0.75rem;
    font-weight: 600;
    font-size: 1.4rem;
    margin-left: -1.5ch;
}

.carousel>article>button {
    color: white;
    background-color: rgba(0, 0, 0, 25%);
    border: none;
    outline: 1px solid rgba(255, 255, 255, 25%);
    border-radius: 10px;
    position: absolute;
    left: 2.2rem;
    top: 20rem;
    font-weight: 600;
    width: 8rem;
    height: 2rem;
    z-index: 2;
    transition: background 0.3s, text-shadow 0.3s;
}

.carousel>article>button:hover {
    background-color: rgba(255, 255, 255, 25%);
    text-shadow: 1px 1px 0em var(--shadowColor), 0 0 0.2em var(--shadowColor);
}

.carousel>article::after {
    background: rgba(64, 64, 64, 50%);
    border-radius: var(--borderRadius);
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    transition: background 1s;
    mix-blend-mode: normal;
}

.glass::after {
    background: var(--glassHighlightGradient) !important;
    border-radius: 8px;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    mix-blend-mode: soft-light !important;
}

.glass::before {
    background: var(--pulseGradient);
    border-radius: 8px;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    mix-blend-mode: soft-light !important;
}